/*text area for json*/
/*html {
  height: 100;
}*/
/*$palette-green: #17A768;
$palette-orange: #F1601D;
$palette-yellow: #F1AD1D;
$primary-light: #E7E0D2;
$primary-beige: #BBAE93;*/


#json_render {
  height: 300px;
}

/*everything - container*/
#mainTree {

}

#saveBtn:hover {
  /*color: primary-light;*/
}

#tree {
  // background: primary-light-beige;
}

#tip {
  color: gray;
}

.dropDownElt {
  cursor: pointer;
  padding-left: 10px;
}

.dropDownElt:hover {
  background-color: grey;
}

.hideOverflow {
    overflow: scroll;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.vertOverflow {
  overflow-y: scroll;
}
